@model EntityLayer.Concrete.Content

@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>Başlığa İçerik Ekleme Sayfası</h2>

@using (Html.BeginForm("AddContent", "WriterPanelContent", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("İçerik")
        @Html.TextAreaFor(x => x.ContentValue,4,30, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ContentValue, null, new { @class = "text-danger" })
        <br /> <br />
        
       
        <button class="btn btn-primary">Kaydet</button>
        <a href="/Heading/Index" class="btn btn-warning">Geri dön</a>
    </div>
}
